* {
  margin: 0;
  padding: 0;
  font-family: Arial, "Times New Roman", Times, serif;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
}

body {
  height: 100%;
  background-color: #ffffff;
  color: #000000;
}

button {
  padding: 0.6rem 1.5rem;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #f4a621;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #f4a621;
  color: #ffffff;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.header {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 10vh;
  background-color: #ffffff;
  vertical-align: top;
}

.headerLeft {
  flex: 1;
  display: flex;
  align-items: center;
}

.headerNavigation {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.headerRight {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.headerImg {
  margin: 0;
  padding: 0;
  height: 60%;
  max-height: 150px;
  width: auto;
  cursor: pointer;
  object-fit: contain;
}

.headerButton {
  height: 50%;
  padding: 0;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.headerButton:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1);
}

.headerItem {
  width: 8vw;
  min-width: 60px;
  max-width: 70px;
  padding: 0 2rem;
  font-size: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.headerItem:hover {
  padding-bottom: 1vh;
  box-shadow: 0 4px 6px -2px #f4a621;
}

.mainLayout {
  height: 90vh;
  overflow: hidden;
  background-color: #ffffff;
}

input[type="number"],
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.footer {
  height: 10vh;
  width: 100%;
  background: #000;
}
