.navigationBar {
  margin: 0;
  padding: 0;
  max-width: 7vw;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
}

.navigationItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(90vh / 6);
  width: 100%;
  cursor: pointer;
}

.navigationItem:hover {
  background-color: #333;
  color: #ffffff;
}
