.AxisX {
  height: 0.1vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.AxisX::before,
.AxisX::after {
  content: "";
  width: 0;
  height: 0;
  border: 0.6vh solid transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.AxisX::before {
  border-right: 8px solid black;
  left: -0.8vw;
}

.AxisX::after {
  border-left: 8px solid black;
  right: -0.8vw;
}

.AxisY {
  width: 0.1vh;
  background-color: #000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.AxisY::before,
.AxisY::after {
  content: "";
  width: 0;
  height: 0;
  border: 0.6vh solid transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.AxisY::before {
  border-bottom: 8px solid black;
  top: -1.7vh;
}

.AxisY::after {
  border-top: 8px solid black;
  bottom: -0.5vh;
}

.AxisLabel {
  padding: 0.1vh;
  color: #4d5396;
  margin-top: 0.1vh;
  font-size: 0.9rem;
}

.AxisY .AxisLabel{
  background-color: #F4F4F6;
}

.AxisX .AxisLabel{
  background-color: #ccc;
}

 /*Axele Sectiunilor*/
 
.XsectionAxis {
  pointer-events: none;
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 100%;
  height: 0.1vh;
  background-color: #000;
  z-index: 10;
}

.XsectionAxis::before,
.XsectionAxis::after {
  content: "";
  width: 0;
  height: 0;
  border: 0.6vh solid transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.XsectionAxis::before {
  border-right: 8px solid black;
  left: -1vh; 
}

.XsectionAxis::after {
  border-left: 8px solid black;
  right: -1vh;
}

.YsectionAxis {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: -2.5rem;
  width: 0.2vh;
  height: 100%;
  background-color: #000;
  z-index: 10;
}

.YsectionAxis::before,
.YsectionAxis::after {
  content: "";
  width: 0;
  height: 0;
  border: 0.6vh solid transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.YsectionAxis::before {
  border-bottom: 8px solid black;
  top: -1vh; 
}

.YsectionAxis::after {
  border-top: 8px solid black;
  bottom: -1vh; 
}

.sectionAxisLabel {
  position: absolute;
  bottom: 50%; 
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  padding: 0.2vh;
  color: #4d5396;
  font-size: 0.9rem;
  z-index: 2;
}

.YsectionAxis .sectionAxisLabel{
  background-color: #f4f4f6;
}

.XsectionAxis .sectionAxisLabel{
  background-color: #ccc;
}