.constructor {
  position: absolute;
  top: 10%;
  left: 7.5%;
  z-index: 1;
  width: 92.4%;
  height: calc(100vh - 10.4vh);
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  overflow: hidden;
}

.constructorContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #fff;
  position: relative;
}

.constructorContainer{
  display: flex;
  justify-content: center; 
  align-items:flex-end;
  width: 100%;
  padding-bottom:8vh;
}

.constructorDoor {
  display: flex;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.doorSection {
  flex: 1;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  overflow: visible;
}

.doorSection::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 1.2vw;
  height: .2vh;
  background-color: #333;
  border-radius: 1px;
  opacity: 0;
  transition: ease-in-out .1s;
}


.doorSection::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  width: .2vh;
  height: 1.2vw;
  background-color: #333;
  border-radius: 1px;
  opacity: 0;
  transition: ease-in-out 0.1s;
}


.doorSection:hover::before,
.doorSection:hover::after {
  opacity: 1;
} 

.constructorInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 14vh;
  background: #fff; 
  flex-shrink: 0;
  border-top: 1px solid #000;
}

.constructorInfoText{
  padding: .5vh 2vw;
  margin: 0.3vh;
  font-size: 1rem;
  width: 35%;
}

.constructorFloor{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 15vh;
   background-color: #ccc;
   z-index: 0;
}

.sectionTypeInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 10;
  padding: 1vh 1.5vh;
  background: #ffffffbb;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.02);
  gap: 0.75em;
  accent-color: #4d5396;
}

.sectionTypeInput label {
  color: #222;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.75em;
  white-space: nowrap;
  text-align: left;
  width: 100%;              
  padding: 0;
  margin: 0;
}

.sectionTypeInput input[type="radio"] {
  margin: 0;                
  padding: 0;
}

